
.container {
    width: 100%;
    min-height: 100vh;
    margin: auto;
    background-color: #1F2325;
    background-image: url(/static/login-bg.png);
    background-size: cover;
}

.login-header{
    height: 50px;
    position: relative;
}

.login-body{
    text-align: center;
    padding: 100px 0 118px;
    .login-body-box {
        width: 980px;
        margin: auto;
        position: relative;
        height: 530px;
        .tips {
            position: absolute;
            left: 0;
            text-align: left;
            top: 180px;
        }
        .s-login {
            position: absolute;
            right: 0;
            width: 410px;
            background: #FFFFFF;
            height: 100%;
            box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        }        
    }
    
}

.tips {
    dt {
        font-size: 36px;
        color: #828282;
        font-weight: normal;
    }
    dd {
        font-size: 16px;
        color: #959595;
        line-height: 2em;
    }
}

span.fly-label {
    font-family: Arial, 'Segoe UI', Helvetica, sans-serif;
}

.fly {
    width: 34px;
    height: 32px;
    display: inline-block;
    background: url("/static/fly.png");
    margin-bottom: -3px;
}

.login-footer {
    height: 80px;
    position: relative;
    border-top: 1px solid rgba(255,255,255,0.3);
    text-align: center;
    padding-top: 20px;
    color: #959595;
}

.s-login-header {
    padding-top: 50px;
    padding-bottom: 50px;
}

.el-form-item, .btn-wrap {
    margin: auto;
    margin-bottom: 28px;
    width: 100%;
    display: inline-table;
    vertical-align: middle;
}

.s-input-text {
    background: #FFF;
    border: 1px solid #D7D8D9;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: 0;
    box-shadow: none;
    display: table-cell;
    vertical-align: middle;
    border-left: none;
    border-radius: 0 4px 4px 0;
}

.login-btn {
    width: 100%;
    font-size: 16px;
    border: none;
    text-align: center;
}

.input-group-addon {
    display: table-cell;
    padding: 6px 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    vertical-align: middle;
    border-right: none;
}

.s-icon-user, .s-icon-pwd, .s-icon-code {
    width: 16px;
    height: 16px;
    display: block;
    text-indent: 20px;
    font-style:normal;
    color: rgba(0, 0, 0, 0.2);
}

.s-icon-user {
    background: url("/static/user.png");
    margin-right: -20px;
}

.s-icon-pwd {
    background: url("/static/pwd.png");
    margin-right: -20px;
}

.s-icon-code {
    background: url("/static/code.png");
    margin-right: -9px;
}